div#page-footer:after {
  content: 'Fórum feito por Luiz~ (luuuiiiz.) e por Kroton. Todos os direitos reservados.'!important;
  color: #fff;
  font-size: 12px;
  display: block;
  text-align: center;
  margin-top: 5px;
  padding-bottom: 25px;
  font-weight: 400;
}

#fa_ticker_block .module,
#right .module,
.forabg,
.forumbg,
.statistics,
.block,
.is-sticky,
.buttton,
.btn,
.button2,
.button1,
.post,
.headerbar {
  box-shadow: none!important;
}

html body div div div div.post-head {
  background: #39c!important;
  background-color: #39c!important;
}
